Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe pour votre compte sur l'Intranet
Benjamin Immobilier.

Pour choisir un nouveau mot de passe, cliquez sur le lien suivant :
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}

Ce lien est valide pour une seule utilisation.
Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email en toute sécurité.

Cordialement,
L'équipe Benjamin Immobilier