{% extends "base_signatures.html" %}

{% block title %}Ma signature{% endblock %}
{% block header_title %}Ma signature électronique{% endblock %}

{% block content %}
<div class="sig-card">
    <h2 class="sig-card-title">Déposer / modifier ma signature</h2>

    <form method="post" enctype="multipart/form-data" class="sig-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="sig-btn sig-btn-primary">
            Enregistrer
        </button>
    </form>
</div>
{% endblock %}
