.download-icon {
    font-size: 26px;   
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.download-icon i {
    font-size: 28px;
}

.download-icon:hover {
    background: rgba(255,255,255,0.15);
    color: #ffffff;
}
